body{
    font-family: sans-serif;
}

a.nav-link {
    background-color: #ffc400;
    color: white;
    padding-top: 15px;
}
li.nav-item, a.nav-link {
    width: 100px;
    height: 50px;
    text-align: center;
}

li.nav-item{
    margin: 0 15px;
}